/* Defaults */
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-image: url(images/0background.png);
    background-repeat: repeat;
    background-color: #EDCEC1;
	overflow-x: hidden;
}
.defcolor{
    color: #AB3B61!important;
}
/*  Defaults end here */

/* navbar */
.navbar{
    background-color: rgba(0,0,0,0.0)!important;
	display: flex;
	align-items: center;
	padding: 0px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
    justify-content: flex-end!important;
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
.icon{
    padding-bottom: 4px;
    margin-right: 10px;
    vertical-align: middle;
}
.nav-link{
	font-weight: bolder;
    color: #AB3B61!important;
}
.nav-link:hover{
    color: #6D263D!important;
}
.active{
    color: #EEE2DC!important;
    background-color: #AB3B61!important;
}
.active:hover{
	color: #EEE2DC!important;
	background-color: #6D263D!important;
}
.rounded-pill{
	border-radius: 17px !important;
}
/* navbar ends here */

/* Section-1 */
a{
	text-decoration: none;
	color: #AB3B61;
}
p{
	font-weight: 400;
	color: #123D6A;
}
.container0 {
	max-width: 1300px;
	margin: auto;
	padding-left: 50px;
	padding-right: 0px;
}
.row{
	align-items: center;
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-around; */
}
.col-T2{
    /* margin-top: 200px; */
	flex-basis: 50%;
	min-width: 300px;
}
/* .col-2 img{ */
	/* margin-top: 0px!important; */
	/* position: absolute;
	top: 30px;
	right: 0px; */
	/* max-width: 100%;  */
/* } */
.col-T2 h1{
    color:  #AB3B61;
	font-size: 40px;
    font-weight: 700;
	line-height: 60px;
}
.btn{
	display: inline-block;
	background:  #AB3B61;
	color: #EDE2DC;
	padding: 10px 25px;
	margin: 30px 0;
	border-radius: 30px;
}
.btn:hover{
	background: #5D0E29;
	color:#EEE2DC;
}
/* Section-1 ends here */

/* Calendar */
/* * {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
  } */
  
a {
	text-decoration: none;
}
/* body, html {
height: 100%;
} */
.container {
	align-items: center;
	/* display: flex; */
	/* flex-wrap: wrap; */
	height: 100%;
	justify-content: center;
	/* margin: 200px auto; */
	max-width: 1300px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}
.rowT2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} 
.calendar {
	background: #123D6A;
	border-radius: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
	height: 600px;
	perspective: 1000;
	transition: .9s;
	transform-style: preserve-3d;
	width: 60%;
}
/* Front - Calendar */
.front {
	transform: rotateY(0deg);
}
.current-date {
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	padding: 30px 40px;
}
.current-date h1 {
	color: #EEE2DC;
	font-size: 1.4em;
	font-weight: 300;
}
.week-days {
	color: #EEE2DC;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	padding: 30px 40px;
}
.days {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.weeks {
	color: #EEE2DC;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}
.weeks div {
	display: flex;
	font-size: 1.2em;
	font-weight: 300;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}
.last-month {
	opacity: .3;
}
.weeks span {
	padding: 10px;
}
.weeks span.active {
	background: #EEE2DC;
	border-radius: 50%;
}
.weeks span:not(.last-month):hover {
	cursor: pointer;
	font-weight: 600;
}
.event {
	position: relative;
}
.event:after {
	content: '•';
	color:#AB3B61;
	font-size: 1.4em;
	position: absolute;
	right: -4px;
	top: -4px;
}
/* Back - Event form */
/* .back {
	height: 100%;
	transform: rotateY(180deg);
}
.back .dn p{
color: #123D6A;
}
.back p{
	color: #EEE2DC;
}
.back input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	color: #EEE2DC;
	font-size: 1.4em;
	font-weight: 300;
	padding: 30px 40px;
	width: 100%;
}
.info {
	color: #EEE2DC!important;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1.2em;
	padding: 30px 40px;
}
.info div:not(.observations) {
	margin-bottom: 40px;
}
.info span {
	font-weight: 300;
}
.info .date {
	display: flex;
	justify-content: space-between;
}
.info .date p {
	width: 50%;
}
.info .address p {
	width: 100%;
}
.actions {
	bottom: 0;
	border-top: 1px solid rgba(73, 114, 133, .6);
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}
.actions button {
	background: none;
	border: 0;
	color: #EDE2DC;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	padding: 30px 0;
	text-transform: uppercase;
	width: 100%;
}
.actions button:first-of-type {
	border-right: 1px solid rgba(73, 114, 133, .6);
}
.actions button:hover {
	background: #497285;
	cursor: pointer;
}
.actions .dn button{
	display: none;
}
.actions button:active {
	background: #5889a0;
	outline: none;
}
/* Flip animation */
/* .flip {
	transform: rotateY(180deg);
} */ */
.front, .back {
	backface-visibility: hidden;
}
  
/* Calendar ends here */

/* poppin */
.poppin h2 {
	font-weight: 700;
	line-height: 80px;
	color: #123D6A;
	/* text-decoration-line: underline ;
	text-decoration-color:#123D6A ; */
	padding-bottom:1 px;
    border-bottom-style: solid;
}
/* .poppin li{
	 color: #123d6a; 
	margin: 25px auto;
	line-height: 25px;
	/* list-style: square; */
	/* list-style-type: url("images/1.1home.svg"); */
	/* list-style: outside; */
/* }  */
.btn3{
	background-color:  #123D6A !important;
	color: #EDE2DC !important;
	padding: 20px;
	margin: 20px 0;
	border-radius: 15px;
}
.btn3 a{
	color: #EDE2DC;
    font-size:x-large;
	font-weight: bold;
}
.btn3 p{
	color: #EDE2DC;
	margin:0;
	font-weight:200;
	font-size: small;
}
/* .poppin a{
	color: #123D6A;
} */
.btn3:hover{
	background-color: #AB3B61 !important;
	color: #EDE2DC;
}
/* poppin ends here */

/* Common Container */
/* .col-3 {
	flex-basis: 50%;
} */

/* About us */
.container1 {
	max-width: 1300px;
	margin: auto;
	padding-right: 50px;
	/* padding-right: 50px; */
}
/* About us ends here */

/* Carousel */
.carousel-3d-slide{
	height:unset !important;
}
.carousel-3d-slide{
	border-radius: 10px;
	box-shadow: 0 6px 6px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.prev[data-v-05517ad0]{
	left: 244px !important;
	top: 0px  !important;
}
.next[data-v-05517ad0]{
	right: 225px !important;
	top: 0px  !important;
}
.Next slide span{
	font-size:20px;
}
.carousel-3d-container .next span{
	font-size:40px;
}
.carousel-3d-container .prev  span{
	font-size:40px;
}
.carousel-3d-slide{
	width:400px !important;
}
.next[data-v-05517ad0], .prev[data-v-05517ad0]{
	color:#EEE2DC;
}
/* Carousel ends here */

/* Footer */
footer{
	background-image: url("images/5.1footer.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 200px;
}
.footer-text{
	/* display:flex; */
	/* bottom:0; */
	align-items: flex-end; 
	padding-top: 350px;
}
div.container3{
	/* display:flex; */	
	/* flex-basis: 100%; */
	height: 630px; 
}
.footer-buttons a{
	font-size: 20px;
}
.btn2{
	/* background-color:#AB3B61; */
	display: inline-block;
	background-color:  #6D263D !important;
	color: #EDE2DC;
	padding: 15px 25px;
	margin: 30px 35px;
	border-radius: 30px;
}
.btn2:hover{
	background-color: #F6E9E3!important;
	color:#AB3B61;
}
.footer-icons{
	margin-bottom: 50px;
}
.copyright{
	font-weight: 600;
	color: #EDE2DC;
}
/* Footer ends here */

/*contact us*/
/* #modalContactForm {
	background-color: rgba(0,0,0,0.4)
}

div > .modal-content {
	border-radius: 10px;
} */
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modal-header .close {
    color: #AB3B61;
    opacity: unset;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
	font-size: 40px;
    padding: 0 30px!important;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
/* [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
} */
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    /* margin: 0; */
    font-family: inherit;
    /* font-size: inherit; */
    /* line-height: inherit; */
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
button {
    /* appearance: auto; */
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /* color: -internal-light-dark(black, white); */
    letter-spacing: normal;
    word-spacing: normal;
    /* text-transform: none; */
    text-indent: 0px;
    /* text-shadow: none; */
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /* cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial; */
}
/* .text-center {
    text-align: center!important;
} */
.modal-content {
    /* position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; */
    pointer-events: auto;
    background-color: #F4E4DE;
    color: #AB3B61;
    /* background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0; */
}
/* .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
} */
div.modal-content{
    width: 850px;
    border-radius: 20px;
}
div.modal-header.text-center{
    color: #AB3B61;
}
h3.modal-title{
    align-items: center;
    font-size: 800;
    font-weight: bold!important;
}
.form-control{
    background-color: #ab3d61!important;
    opacity: 30%;
    border-radius: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:white!important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white!important;
  }
div.md-form.mb-5{
    margin: 0 0 20px 0px!important;
}
.container4{
	align-items: center;
	/* display: flex; */
	/* flex-wrap: wrap; */
	height: 100%;
	justify-content: center;
	/* margin: 200px auto; */
	max-width: 1300px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}
.rowT2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} 
.col-2{
    display: flex;
    flex-basis: 50%;
}
.w-100{
	font-size: 35px!important;
}
.robot{
    padding: 20px;
}

btn.btn-unique.contactUs-btn{
	margin-top: 0;
	margin-bottom: 5px;
}
.contactUs-p{
	padding: 0 20px;
}
/*contact us ends here*/



/* Media Queries */
/* Large (Laptop)*/
@media (min-width:1025px){
	/* About Us */
	img.laptop{
		padding-top: 150px;
		padding-right: 50px;
	}
	.phone{
		display: none;
	}
	.col-T2.aboutus{
		margin-top: 200px;
	}
	/* About Us ends here */
}

/* Large (iPad Pro) */
@media (max-width: 1024px) and (min-width: 769px){
	/* Section-1 */
	.illus1{
		width: 480px;
	}
	/* Whats poppin */
	.btn3 a {
		font-size: large;
	}

	/* About Us */
	img.laptop{
		width: 500px;
		padding-right:50px;
		padding-top:70px;
	}
	.container1{
		margin-top: 80px;
		margin-bottom: 150px;
	}
	.col-T2.aboutus{
		margin-top: 120px;
		padding-left: 25px;
	}
	.phone{
		display: none;
	}
	/* About Us ends here */

	/* Contact us */
	.col-2 img{
		display: none;
	}
	.col-2{
		flex-basis: 100%;
	}
	/* Contact us ends here */
}

/* Medium(iPad) */
@media (max-width: 768px) {
	/* navbar */
	nav{
		text-align: left;
	}
	.nav-link{
		padding-left: 10px!important;
	}
	/* navbar ends here */

	/* Section-1 */
	.container0{
		height: 400px;
	}
	.btn{
		margin: 0;
	}
	.illus1{
		/* visibility: none; */
		/* display: block; */
		display: none;
		/* margin: 480px 0; */
	}
	/* Section-1 ends here */

	/* Calendar */
	.col-3 {
		flex-basis: 100%;
	}
	/* Calendar ends here */

	/* About Us */
	.container1{
		margin: 100px auto;
	}
	.laptop{
		display: none;
	}
	/* About us ends here */
}

/* Small */
@media screen and (max-width: 500px) {
	/* Calendar */
	.calendar {
		height: 500px;
	}
	.weeks span {
		font-size: 0.8em;
		padding: 5px;
	}
	/* Calendar ends here */

	/* Poppin */
	.poppin h2{
		text-align: center;
		margin-top: 25px;
		line-height: 50px;
	}
	/* div.plink{
		margin-left: 35px;
		margin-bottom: 30px;
	} */
	.poppin li{
		line-height: 10px;
	}
	/* poppin ends here */

	/* Common container */
	.container1 {
		max-width: 1300px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
	/* Common container ends here */

	/* About Us */
	.laptop{
		display: none;
	}
	.col-T2.aboutus{
		margin-top: 30px;
		text-align: center;
	}
	/* About us ends here */

	/* Carousel starts here */
	div.carousel{
		align-items: center;
		margin: 100px 28px;
	}
	.carousel-3d-slide{
		width:250px !important;
	}
	/* Carousel ends here */

	/* Footer starts here */
	footer{
		background-image: none;
		background-color: #AB3B61;
		background-size: 50px;
		height: 187px;
		margin-top: 100px;
	}
	.footer-text{
		padding-top: 0px;
	}
	div.container3{
		height: 187px;
	}
	.btn2{
		display: none;
	}
	/* Footer ends here */

}