*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-image: url(images/0background.png);
    background-repeat: repeat;
    background-color: #EDCEC1;
	overflow-x: hidden;
}
.defcolor{
    color: #AB3B61!important;
}
/* navbar */
.navbar{
    background-color: rgba(0,0,0,0.0)!important;
	display: flex;
	align-items: center;
	padding: 0px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
    justify-content: flex-end!important;
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
.icon{
    padding-bottom: 4px;
    margin-right: 10px;
    vertical-align: middle;
}
.nav-link{
	font-weight: bolder;
    color: #AB3B61!important;
}
.nav-link:hover{
    color: #6D263D!important;
}
.active{
    color: #EEE2DC!important;
    background-color: #AB3B61!important;
}
.active:hover{
	color: #EEE2DC!important;
	background-color: #6D263D!important;
}
.rounded-pill{
	border-radius: 17px !important;
}
/* navbar ends here */

/*Meet our team title*/
.title{
    text-align: center;
    margin-top: 50px;
    position: relative;
    line-height: 70px;
    color:#ab3d61;
    font-weight:bolder;
    font-family: 'Nunito', sans-serif !important;

}
.title::after{
    content: '';
    background: #ab3d61;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*Meet our team title ends here*/

/*Meet our team image*/

div.team-image img.laptop{
    width:1200px;
    margin-top: 0px;
    padding:30px 30px 0 50px;
    /* padding-right: 30px; */
}
/*Meet our team image ends here*/

/* Contribute */
.contribution{
	padding-top: 80px;
    margin: 20px;
}
.rowT3{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contribution .col-3{
    background-color: #123c69;
	text-align: center;
	padding: 40px 40px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
    border-radius: 15px;
}
.contribution .col-3:hover{
	transform: translateY(-10px);
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #EEE2DC;
}
.contribution .col-3 h3{
	font-weight: 600;
	color: #EEE2DC;
    margin: 12px;
	/* font-size: 16px; */
}
div.joinbtn{
    display: flex;
    justify-content: center;
}
.btn{
	/* display: inline-block; */
	background:  #AB3B61;
	color: #EDE2DC;
	padding: 10px 25px;
	margin: 30px 0;
	border-radius: 30px;
}
.btn:hover{
	background: #5D0E29;
	color:#EEE2DC;
}

/* Contribute ends here */

/* Footer */
footer{
	background-image: url("images/5.1footer.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 200px;
}
.footer-text{
	/* display:flex; */
	/* bottom:0; */
	align-items: flex-end; 
	padding-top: 350px;
}
div.container3{
	/* display:flex; */	
	/* flex-basis: 100%; */
	height: 630px; 
}
.footer-buttons a{
	font-size: 20px;
}
.btn2{
	/* background-color:#AB3B61; */
	display: inline-block;
	background-color:  #6D263D !important;
	color: #EDE2DC;
	padding: 15px 25px;
	margin: 30px 35px;
	border-radius: 30px;
    text-decoration: none;
}
.btn2:hover{
	background-color: #F6E9E3!important;
	color:#AB3B61;
}
.footer-icons{
	margin-bottom: 50px;
}
.copyright{
	font-weight: 600;
	color: #EDE2DC;
}
/* Footer ends here */

/*contact us*/
/* #modalContactForm {
	background-color: rgba(0,0,0,0.4)
}

div > .modal-content {
	border-radius: 10px;
} */
.modal-dialog {
    position: absolute;
    left: 18%;
    top: 1%;
    transform: translate(-50%, -50%);
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modal-header .close {
    color: #AB3B61;
    opacity: unset;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
    font-size: 40px;
    padding: 0 30px!important;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
/* [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
} */
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    /* margin: 0; */
    font-family: inherit;
    /* font-size: inherit; */
    /* line-height: inherit; */
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
button {
    /* appearance: auto; */
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /* color: -internal-light-dark(black, white); */
    letter-spacing: normal;
    word-spacing: normal;
    /* text-transform: none; */
    text-indent: 0px;
    /* text-shadow: none; */
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /* cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial; */
}
/* .text-center {
    text-align: center!important;
} */
.modal-content {
    /* position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; */
    pointer-events: auto;
    background-color: #F4E4DE;
    color: #AB3B61;
    /* background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0; */
}
/* .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
} */
div.modal-content{
    width: 850px;
    border-radius: 20px;
}
div.modal-header.text-center{
    color: #AB3B61;
}
h3.modal-title{
    align-items: center;
    /* font-size: 800; */
    font-weight: bold!important;
}
.form-control{
    background-color: #ab3d61!important;
    opacity: 30%;
    border-radius: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:white!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white!important;
}
div.md-form.mb-5{
    margin: 0 0 20px 0px!important;
}
input[placeholder], [placeholder], *[placeholder] {
    /* opacity: 50; */
    color:white !important;
}
.container4{
	align-items: center;
	/* display: flex; */
	/* flex-wrap: wrap; */
	height: 100%;
	justify-content: center;
	/* margin: 200px auto; */
	max-width: 1300px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}
.rowT2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} 
.col-2{
    display: flex;
    flex-basis: 50%;
}
.w-100{
	font-size: 35px!important;
}
.robot{
    padding: 20px;
}
button.btn.btn-unique.contactUs-btn{
	margin-top: 0;
	margin-bottom: 5px;
}
.contactUs-p{
	padding: 0 20px;
    color: #123c69;
}
/*contact us ends here*/

/*laptop*/
@media (min-width:1025px){
    /* Meet our Team */
    .phone{
        display: none;
    }
    /* Meet our Team ends here */
}

/* Large (iPad Pro) */
@media (max-width: 1024px) and (min-width: 769px){
    /* Meet our Team */
    div.team-image img.laptop{
        width:900px;
        margin-top: 0px;
        padding:30px 30px 0 50px;
    }
    .phone{
        display: none;
    }
    /* Meet our Team ends here*/
    /* Contribution */
    .contribution{
        margin: auto;
        width: 800px;
    }
    .contribution .row{
        padding: 100px;
    }
    .contribution .col-3{
        flex-basis: 100%;
        margin: 25px;
    }
    /* Contribution ends here */
    
	/* Contact us */
    div.modal-content{
        width: 700px;
    }
    .container4{
        max-width: 700px;
    }
	.col-2 img{
		display: none;
	}
	.col-2{
		flex-basis: 100%;
	}
	/* Contact us ends here */
}

/* Medium(iPad) */
@media (max-width: 768px) and (min-width:600px){
    /* navbar */
	nav{
		text-align: left;
	}
	.nav-link{
		padding-left: 10px!important;
	}
	/* navbar ends here */
    /* Meet our Team */
    div.team-image img.laptop{
        width:700px;
        margin-top: 0px;
        padding:30px 30px 0 50px;
    }
    .phone{
        display: none;
    }
    /* Meet our Team ends here*/
    /* Contribution */
    .contribution{
        margin: auto;
        width: 550px;
    }
    .contribution .row{
        padding: 100px;
    }
    .contribution .col-3{
        flex-basis: 100%;
        margin: 25px;
    }
    /* Contribution ends here */
    /* Contact Us */
    div.modal-content{
        width: 600px;
    }
    .col-2 img{
		display: none;
	}
	.col-2{
		flex-basis: 100%;
	}
    .modal-dialog {
        position: absolute;
        left: 12%;
        top: 1%;
        transform: translate(-50%, -50%);
    }
    /* Contact Us ends here */
}

/*phone*/
@media (max-width: 600px) {
    /* navbar */
	nav{
		text-align: left;
	}
	.nav-link{
		padding-left: 10px!important;
	}
	/* navbar ends here */
    /* Meet our Team */
    .laptop{
        display: none;
    }
    div.team-image{
        display: flex;
        justify-content: center; 
    }
    div.team-image img.phone{
        padding: 10px;
        width: 330px;  
    }
    /* Meet our Team ends here*/
    /* Contribution */
    .contribution{
        padding-top: 0px;
        margin: 40px;
    }
    .contribution .col-3{
        flex-basis: 100%;
        margin: 25px;
    }
    .btn{
        margin: 0px;
    }
    /* Contribution ends here*/
    /* Footer starts here */
    footer{
        background-image: none;
        background-color: #AB3B61;
        background-size: 50px;
        height: 187px;
        margin-top: 100px;
    }
    .footer-text{
        padding-top: 0px;
    }
    div.container3{
        height: 187px;
    }
    .btn2{
        display: none;
    }
    /* Footer ends here */
    /* Contribution */
    .contribution{
        margin: auto;
        width: 300px;
	}
    .contribution .row{
        padding: 30px;
    }
    .contribution .col-3{
        flex-basis: 100%;
        margin: 25px;
    }
	/* Contribution ends here */
	/* Contact us starts here */
	div.modal-content{
        width: auto;
    }
    .col-2 img{
		display: none;
	}
	.col-2{
		flex-basis: 100%;
	}
    .contactUs-p{
        padding: 0 10px;
        font-size: 10px;
        color: #123c69;
    }
    .w-100{
        font-size: 30px!important;
    }
    div.modal-body.mx-3{
        padding: 0px!important;
        margin: 0px!important;
    }
    button.close {
        font-size: 20px;
        padding: 0 20px!important;
    }
    div.md-form.mb-5.robot{
        padding: 10px;
    }
    .modal-dialog {
        position: absolute;
        left: auto;
        top: 1%;
        transform: translate(-50%, -50%);
    }
    /* Contact us ends here */
}